<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <img class="masthead-brand logo" src="../../../assets/starwars-logo-white.png" alt="Star Wars Logo">
          <app-nav></app-nav>
        </div>
      </div>
      <div class="inner cover">
        <h1 class="cover-heading">404</h1>
        <p class="lead">No se ha encontrado el elemento que buscas.</p>
        <p class="lead">
          <a [routerLink]="['/landing']" class="btn btn-lg btn-secondary">Regresar</a>
        </p>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>