<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <img class="masthead-brand logo" src="../../../assets/starwars-logo-white.png" alt="Star Wars Logo">
          <app-nav selectedPage="Contact"></app-nav>
        </div>
      </div>
      <div class="inner cover">
        <p class="lead">
          <a href="mailto:maquinadehielo@gmail.com" class="btn btn-lg btn-secondary"><i class="fa fa-envelope"></i> Enviar un correo</a>
        </p>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>