<div *ngIf="character.vehicles.length > 0;">
  <div *ngIf="isLoading; then loadingScreen else vehiclesContent">
  </div>
</div>

<ng-template #loadingScreen>
  <p class="text-center">Cargando... <i class="fa fa-cog fa-spin"></i></p>
  <ngb-progressbar type="primary" [value]="completion" [striped]="false" [animated]="false">
    Cargando: <b>{{loadedVehicles}} de {{totalVehicles}}</b> naves
  </ngb-progressbar>
</ng-template>

<ng-template #vehiclesContent>
  <h2 class="text-center">Vehículos</h2>
  <hr/>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Marca</th>
          <th>Costo</th>
          <th>Pasajeros</th>
          <th>Carga</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles">
          <td>{{vehicle.name}}</td>
          <td>{{vehicle.manufacturer}}</td>
          <td>{{vehicle.cost_in_credits}}</td>
          <td>{{vehicle.passengers}}</td>
          <td>{{vehicle.cargo_capacity}}</td>
        </tr>
      </tbody>
    </table>  
  </div>
</ng-template>