<h2>Vehiculos</h2>
<hr/>
<div *ngIf="vehicles == null || vehicles == undefined || vehicles.length == 0; then emptyMessage else vehiclesTable"></div>
<ng-template #vehiclesTable>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Modelo</th>
          <th>Cantidad de pasajeros</th>
          <th>Longitud</th>
          <th>Marca</th>
          <th>Personal de manejo</th>
          <th>Costo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles">
          <td>{{vehicle.model}}</td>
          <td>{{vehicle.passengers}}</td>
          <td>{{vehicle.length}}</td>
          <td>{{vehicle.manufacturer}}</td>
          <td>{{vehicle.crew}}</td>
          <td>{{vehicle.cost_in_credits}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
<ng-template #emptyMessage>
    <ngb-alert 
      [dismissible]="false" 
      [type]="alert.type" 
      (close)="closeAlert(alert)">
      {{alert.message}}
  </ngb-alert>
</ng-template>