<app-nav selectedPage="Character"></app-nav>

<div class="container">
  <h1 class="text-center">Personaje</h1>
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="oCharacter | async; let character; else loadingScreen">
        <dl class="dl-horizontal">
          <dt>Nombre</dt>
          <dd>{{character.name}}</dd>

          <dt>Altura</dt>
          <dd>{{character.height}}</dd>

          <dt>Color de piel/pelaje</dt>
          <dd>{{character.skin_color}}</dd>

          <dt>Color de ojos</dt>
          <dd>{{character.eye_color}}</dd>

          <dt>Género</dt>
          <dd>{{character.gender}}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<ng-template #loadingScreen>
  <p class="text-center">Cargando... <i class="fa fa-cog fa-spin"></i></p>
</ng-template>